/* variables */
:root {
    --color-texto-especial: rgb(255, 250, 250);
    --borde-raduis: 50px;
}

/* unidades: px em, rem, vh y vw */
h1 {
    font-size: 50px;
    color: var();
}

body {
    margin: 0;
    margin-bottom: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color: var(--color-texto-especial);
}

img {
    width: 100vw;
}

div {
    margin-top: 12px;
    color: blueviolet;
}

/* Para evitar la repeticion de codigo y correguir el comportamiemto de las listas  */
ul,
ol {
    text-align: start;
    color: var(--color-texto-especial);
}

/* Selector de id */
#La-guerra {
    color: blue;
}

#AMD {
    color: red;
}

/* Selector de clases */
.grande-bolt {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

/*Cómo cambiar el tamaño de los contenedores
Margi y padding
Bordes y su radio
Border-box
Sombras
Variables  */
.caja-1 {
    width: 300px;
    height: 200px;
    background-color: rgb(70, 43, 226);
    border: 3px solid white;
    /* Funcion basica de un modelo de caja */
    text-align: start;
    /* padding: [valor vertical] [valor horizontal]*/
    padding: 20px 10px;
    margin: auto;
    border-radius: var(--borde-raduis);
    /* Ayuda a respetar el tamaño de la caja*/
    box-sizing: border-box;
    /* Agrega sombreado a las cajas usando de 3 a 4 valores */
    box-shadow: 8px 8px 12px rgba(255, 255, 255, 0.26);
}

.caja-2 {
    width: 300px;
    height: 200px;
    background-color: rgb(70, 43, 226);
    border: 3px solid white;
    /* Funcion basica de un modelo de caja */
    text-align: start;
    /* padding: [valor vertical] [valor horizontal]*/
    padding: 20px 10px;
    margin: auto;
    border-radius: var(--borde-raduis);
    /* Ayuda a respetar el tamaño de la caja*/
    box-sizing: border-box;
    /* Agrega sombreado a las cajas usando de 3 a 4 valores */
    box-shadow: 8px 8px 12px rgba(255, 255, 255, 0.26);
}

/* Estilizar botones y llamado de clases y [atributos*¨ */
button, input[type="submit"]{
    background-color: rgb(73, 18, 146);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: var(--borde-raduis);
    border: 2px solid rgb(255, 255, 255);
}