/* unidades: px em, rem, vh y vw */
h1 {
    font-size: 50px;
}

body {
    margin: 0;
    margin-bottom: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}

p {
    color: blue;
}

img {
    width: 100vw;
}

div {
    margin-top: 12px;
}

/* Selector de id */
#La-guerra {
    color: rgb(255, 0, 0);
}

#AMD {
    color: blueviolet;
}

/* Selector de clase */
.grande-bolt {
    font-size: bolt;
}